*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}
.sidebar{
    position: fixed;
    background-color: #eef2ff;
    height: 100%;
    width: 20rem;
    border-radius: 1rem;
    transition-property: width;
    transition-duration: 100ms;
    transition-timing-function: ease-out;
    text-wrap: nowrap;
}

.sidebar__container{
    margin: 1rem;
}

.sidebar__logo-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
}

.sidebar__logo{
    height: 5rem;
    cursor: pointer;
}

.sidebar__arrow-wrapper{
    height: 2rem;
    right: 2rem;
    cursor: pointer;
    filter: invert(42%) sepia(0%) saturate(1352%) hue-rotate(210deg) brightness(100%) contrast(119%);
}

.sidebar__arrow-wrapper:hover{
    filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(210deg) brightness(100%) contrast(119%);
}

.sidebar__arrow-right{
    height: inherit;
}

.sidebar__arrow-left{
    height: inherit;
}

.sidebar__links{
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    height: max-content;
    list-style: none;
    margin-top: 2rem;
    overflow: hidden;
}

.sidebar__links-item{
    padding: 1rem;
    cursor: pointer;
    border-radius: 0.5rem;
}

.sidebar__links-item-icon{
    color: #9ca3af;
    margin-right: 0.5rem;
}

.sidebar__links-item-text{
    transition-property: visibility;
    transition-duration: 100ms;
    transition-delay: 10ms;
    transition-timing-function: ease-out;
}

.hidden{
   display: none; 
}